@use '@/assets/var.scss' as *;

.searchContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: $tablet-landscape) {
    align-items: end;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  span {
    display: flex;
    align-items: center;
    padding: 20px;

    @media (max-width: $tablet-landscape) {
      flex-direction: column;
      align-items: start;
      padding: 0;

      &[data-theme='dark'] {
        color: #ffffff;
      }
    }

    @media (max-width: $tablet-sm) {
      width: 160px;
    }

    .apiLabel {
      font-weight: bold;
      font-size: 1rem;
      padding: 8.9px 15px;
      padding-right: 15px;
      background-color: #aaa;
      color: #333;

      @media (max-width: $tablet-landscape) {
        font-size: 12px;
        background-color: transparent;
        padding: 0;
        margin-bottom: 5px;

        &[data-theme='dark'] {
          color: #ffffff;
        }

      }
    }

    .inputContainer {
      position: relative;
      margin-right: 15px;

      @media (max-width: $mobile) {
        margin-right: 0;
      }

      input {
        padding: 10px 15px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 0;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;

        @media (max-width: $mobile) {
          margin-bottom: 5px;
        }

        &:focus {
          border-color: #007bff;
          outline: none;
        }

        &::placeholder {
          color: #aaa;
        }
      }
    }

    .list {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ddd;
      border-radius: 4px;
      max-height: 200px;
      overflow-y: auto;
      background-color: #f9f9f9;
      z-index: 2;

      .item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #8979d9;
          color: #fff;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  button {
    @media (max-width: $tablet-sm) {
      width: 100%;
    }

    &:hover {
      background-color: $primary-color-hover;
    }

    &:disabled {
      background-color: $primary-color-hover;
      cursor: not-allowed;
    }
  }
}