@use '@assets/var.scss' as *;

.searchContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  .apiLabel {
    font-weight: bold;
    font-size: 1rem;
    padding: 8.9px 15px;
    padding-right: 15px;
    background-color: #aaa;
    color: #333;
  }

  .inputContainer {
    position: relative;
    margin-right: 15px;

    input {
      padding: 10px 15px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 0 4px 4px 0;
      width: 100%;
      max-width: 300px;
      box-sizing: border-box;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
        outline: none;
      }

      &::placeholder {
        color: #aaa;
      }
    }

    .list {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ddd;
      border-radius: 4px;
      max-height: 200px;
      overflow-y: auto;
      background-color: #f9f9f9;
      z-index: 2;

      .item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: #8979d9;
          color: #fff;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  button {
    &:hover {
      background-color: $primary-color-hover;
    }

    &:disabled {
      background-color: $primary-color-hover;
      cursor: not-allowed;
    }
  }
}
