.container {
  max-width: 1440px;
  padding: 0 80px;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  .main {
    padding: 60px 0;
  }

  .throwErrorBtn {
    position: fixed;
    right: 10px;
    bottom: 120px;
    background-color: rgb(228, 95, 88);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: 0.1s linear;
    font-family: 'Courier New', Courier, monospace;
    @media (hover: hover) {
      &:hover {
        background-color: rgb(188, 65, 58);
      }
    }
  }
}
