@use '@assets/var.scss' as *;

.app {
  min-height: 100%;

  &[data-theme='dark'] {
    background-color: $bg-theme-light;
    color: #282c34;
  }

  .container {
    max-width: 1440px;
    padding: 0 80px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;

    @media (max-width: $tablet-landscape) {
      padding: 0 40px;
    }

    @media (max-width: $tablet-sm) {
      padding: 0 15px;
    }

    .throwErrorBtn {
      position: fixed;
      right: 10px;
      bottom: 120px;
      background-color: $error-color;
      color: #ffffff;
      letter-spacing: 0.4px;
      font-family: 'Courier New', Courier, monospace;

      @media (hover: hover) {
        &:hover {
          background-color: $error-color-hover;
        }
      }

      @media (max-width: $mobile) {
        font-size: 14px;
      }
    }
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (max-width: $mobile) {
      padding: 8px 10px;
      font-size: 14px;
    }
  }


}