@use '@assets/var.scss' as *;

.selected {
  margin-top: 40px;
  padding: 25px;

  &[data-theme='dark'] {
    background-color: #85848487;
    border-radius: 15px;
  }

  @media (max-width: $mobile-sm) {
    padding: 15px;
    margin-top: 30px;
  }

  .header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }

    .title {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 26px;
      font-weight: 600;
      padding-bottom: 10px;
      border-bottom: 2px solid #858484;

      @media (max-width: $mobile) {
        font-size: 20px;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      @media (max-width: $mobile-sm) {
        flex-direction: column;
        gap: 7px;
      }

      .unselect {
        background-color: $error-color;

        &:disabled {
          background-color: $error-color-hover;
        }

        @media (hover: hover) {
          &:hover {
            background-color: $error-color-hover;
          }
        }
      }

      .download {
        background-color: $green-color;

        &:disabled {
          background-color: $green-color-hover;
        }

        @media (hover: hover) {
          &:hover {
            background-color: $green-color-hover;
          }
        }
      }

      .unselect,
      .download {
        font-family: inherit;
        font-weight: 600;

        @media (max-width: $tablet) {
          font-size: 14px;
          padding: 9px 10px;
        }

        @media (max-width: $mobile) {
          font-size: 12px;
          padding: 7px 8px;
        }

        &:disabled {
          cursor: default;
        }
      }
    }
  }

  .list {
    width: 70%;

    @media (max-width: 850px) {
      width: 100%;
    }

    >div {
      >div {
        &:first-child {
          color: rgb(112, 224, 81);
        }
      }
    }
  }
}