$primary-color: #686ad3;
$primary-color-hover: #5f4cbb;
$green-color: #44cb7c;
$green-color-hover: #2cb565;
$error-color: #e95c4c;
$error-color-hover: #d04737;

$bg-theme-light: #373737;
$bg-theme-dark: #ffffff;

$mobile: 576px; 
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop-small: 1200px;
$desktop: 1440px;